.page-template-default,
.blog,
.category,
.single {
    h1 {
        padding: 1.5rem 0 1rem;
        text-align: center;
    }

    p.has-drop-cap:not(:focus):first-letter {
        float: inherit;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        margin: inherit;
        text-transform: inherit;
        font-style: inherit;
    }

    .card-subtitle {
        font-size: 0.9rem;
    }

    #index-wrapper {
        margin: 0 auto;
        // width: 800px;
    }

    #main {
        margin: 0 auto;

        article {
            // width: 250px;
            // width: 320px;
            margin: 0 auto;
            max-width: 800px;
            margin-bottom: 10px;
            width: calc(100vw - 50px);
        }
    }

    .pagination {
        justify-content: center;
    }

    iframe {
        width: 100%;
        height: calc((100vw - 50px) * 9 /16);
        @media (min-width: 768px) {
            height: calc((800px - 50px) * 9 /16);
        }
    }
}

.single {
    article.category-ask-elliott {
        img.wp-post-image {
            display: none;
        }
    }
}

.category.category-ask-elliott {
    article {
        img {
            display: none;
        }
    }
}
