figcaption {
    font-size: .85rem;
}

// bootstrap overrides
.card-body {
    color:$bcc_dark_gray_text;
}

// bcc utilities
.kicker {
    background: $bcc_orange;
    padding: .5rem;
    font-weight:bold;
}

p:empty {
    display:none;
}

.wrapper {
    padding: 0!important;
}


.page-template-front-page .wrapper,
.post-template-page-no_featured_img .wrapper,
.page-template-page-no_featured_img .wrapper {
    padding: 0 0 0px!important;
}





.logo-row {
    margin-right:0!important;
}

#bcc-slider {
    width: 100vw!important;
}

#bcc-slider .slider-logo .slider-logo-overlay{
    margin: 0;
    padding: 0;
    padding-top: calc(180px - 60px);
    padding-left: calc(50vw - 104px);
}

#bcc-slider .slider-logo .slider-logo-overlay img{
    height: auto;
    width: 75%;
}


.feature01-row {
    padding-left: 0!important;
}


.page .alert-info {
    background-color: $bcc_alert_info_background-color;
    border-color: $bcc_alert_info_border-color;
    font-size: 1.1rem;
    color: $bcc_alert_info_color;
    text-align: center;
}

.page .alert-dark {
    background-color: $bcc_alert_dark_background_color;
}

.page .alert-dark h5{
    text-align: center;
}

#authnet-card-number,
#authnet-card-expiry,
#authnet-card-cvc {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: #495057;
    display: block;
    font-size: 1rem!important;
    height: calc(2.25rem + 2px);
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    width: 100%;
}

#authnet-card-number:focus,
#authnet-card-expiry:focus,
#authnet-card-cvc:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

// ce pages by date shortcode
.bc_ce_classes_by_month p {
    display: inline;
}

#course-descriptions-list br{
    display: none;
}

/*
member product formattingS
*/
p.members-ce-product {
    color: $bcc_green!important;
    font-size: 2em!important;
    font-weight: bold!important;
    text-align: center;
    border: none!important;
    padding: 0!important;
}

p.members-ce-product >

/*
shop page formattingS
*/

ul.products li.product a h2 {
    font-size: 1.1em!important;
    min-height: 6.4em;
    padding: .5em .5em 0!important;
    text-align: center;
}

ul.products li.product a span.price{
    color: $bcc_green!important;
    font-size: 2em!important;
    font-weight: bold!important;
    text-align: center;
}


ul.products li.product:last-of-type {
    margin-bottom: 0!important;
}

ul.products li.product {
    border: 1px solid $bcc_gray;
    // padding: .5em!important;
    margin-right: 1%!important;
    width:100%!important;
    float:left!important;
    // clear:none!important;
}

ul.products li.product .yith-wcdp,
ul.products li.product .add-to-cart-container {
    margin: 0 auto;
    padding: 0 .5em 1em;
}

ul.products li.product form.cart button {
    margin: 0 auto .5em;
}

ul.products  li.product .button {
    margin-top: 0!important;
}

ul.products  li.product del .woocommerce-Price-amount {
    font-size: .6em;
}

ul.products  li.product ins {
    text-decoration: none;
}

ul.products span.cart-buttons,
ul.products .add-to-cart-container,
ul.products .yith-wcdp {
    display:none;
}

.page-link {
    color: $bcc_green!important;
}

.page-item.active .page-link {
    // color: white!important;
    background-color: $bcc_light_yellow!important;
    border-color: $bcc_light_yellow!important;
}


.woocommerce-product-details__short-description .card {
    background-color: #dad6dd;
    padding: 1rem 3rem;
}

.woocommerce-product-details__short-description .card ul{
    margin-bottom: 1.5rem;
}

.jumbotron-fluid {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}
.jumbotron-fluid.about{
    background-image: url("/wordpress/wp-content/uploads/Classroom01.jpg");
    background-position: 75% center;
}

.jumbotron-fluid.about .about-content,
.jumbotron-fluid.prelicense-courses .about-content{
    color: #f5f5f5;
    font-size: 1.5rem;
    background: rgba(42, 135, 0, .6);
    line-height: 1.2;
    font-size: 1rem;
}

.jumbotron-fluid.about h3{
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0 0.75rem;
}

.jumbotron-fluid.prelicense-courses{
    background-image: url("/wordpress/wp-content/uploads/Classroom01.jpg");
    background-position: 75% center;
}

.jumbotron-fluid.prelicense-courses .card {
    background: transparent;
    border-radius: 0;
    border:none;
    color:inherit;
}

.jumbotron-fluid.prelicense-courses .card .hilight{
    background: #fffbad;
    color: #2a8700;
    font-weight: 500;
    margin-top: .75rem;
    padding: 1rem;
}






.card figure img {
    width: 100%!important;
    height: auto!important;
}

.about-text {
    background: $bcc_light_green;
}

.about-text .row {
    align-items: center;
    align-content: center;
    height: 100%;
    justify-content: center;
    margin:0 auto;
    padding: 0;
}

.about-text .row h1 {
    color:$bcc_green;
    font-size: 1.6rem;
    font-weight:bold;
    line-height: 1;
    margin-bottom: 2.5rem;
    text-align: center;
}

.about-text .row h5{
    color:$bcc_green;
    font-size: 1rem;
    font-weight:bold;
    margin-bottom: 2.5rem;
    text-align: center;
}

.about-text .row p{
    line-height: 1.3;
}



.course-cards h2{
    text-align: center;
    min-height: auto;
}

.course-description-basic .card-subtitle {
    font-style: normal!important;
    font-weight: bold;;
}

h2.woocommerce-loop-product__title {
    color: $bcc_green;
    text-align: center;
    padding-left: .5rem!important;
    padding-right: .5rem!important;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/*
Extra small devices (portrait phones, less than 544px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    #main-menu {
        font-size: 1rem;
    }
    #bcc-slider .slider-logo .slider-logo-overlay{
        margin: 0;
        padding: 0;
        padding-top: calc(150px + 44px);
        padding-left: calc(50vw - 150px);
    }

    #bcc-slider .slider-logo .slider-logo-overlay img{
        height: auto;
        width: auto;
    }

    // .home .headline01-row,
    // .home .headline02-row,
    // .home .feature01-row,
    // .home .video-row01,
    // .home .upcomingclasses01-row,
    // .home #flyer-row
    // {
    //     margin-right: 0!important;
    //     width: 100vw;
    //     padding-left: 0!important;
    // }

    .home .feature01-row p {
        font-size: .85rem;
    }

    .home .feature01-row .sow-features-feature {
        width: 50%!important;
        padding: 0 1.5rem 1.5rem!important;
        margin:0 auto;
    }

    .home .feature01-row .sow-features-list{
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        }

    .home .feature01-row .sow-features-feature .textwidget {
        margin: .5rem 0 3rem!important;
    }

    .home .feature01-row .sow-features-feature .sow-icon-container{
        \width: 6rem;
        height: 6rem;
        font-size: 6rem;
        }

    .home .feature01-row .sow-features-feature .sow-icon-container [class^="sow-icon-"]{
        width: 6rem;
        height: 6rem;
        font-size: 3.5rem!important;
        }

    .home .feature01-row .sow-features-feature .textwidget {
        margin: .5rem 0 0!important;
    }

    .home .video-row01 {
        display: flex;
        padding-left: 0!important;
    }

    .twostep02 .twostep02-jumbotron .hl-text h1{
        font-size: 2.6rem;
    }


}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

    .btn-group-sm-bcc>.btn,
    .btn-group-sm-bcc>.a,
    .btn-sm, .wpcf7 .btn-group-sm-bcc>input[type=submit] {
        padding: .375rem .75rem!important;
        font-size: 1rem!important;
        line-height: 1.5!important;
        border-radius: .25rem!important;
    }

    #wrapper-announce a {
        // font-size: 1rem;
    }

    #wrapper-footer .card-collection {
        flex-direction: row;
    }

    #wrapper-footer .card{
        padding: 1rem 4rem;
        width: 23rem;
    }

    // start  of new home code

    .home-card {
        max-width: 30rem;
        min-width: 25rem;
        width: 52vh;
    }

    .home-card .card-subtitle{
        font-size: 1.4rem;
        padding: 0 1rem 1rem;
    }

    .home-card .card-body{
        line-height: 1.5;
        font-size: 1rem;
        padding: 0 1rem 1rem;
}

    // end of new home code

    .home .feature01-row h5 {
        font-size: 1.5rem;
    }
    .home .feature01-row p {
        font-size: 1rem;
    }

    .home .feature01-row .sow-features-feature {
        width: 25%!important;
    }

    .home .feature01-row .sow-features-feature .sow-icon-container{
        width: 7.5rem;
        height: 7.5rem;
        font-size: 7.5rem;
        }

    .home .feature01-row .sow-features-feature .sow-icon-container [class^="sow-icon-"]{
        width: 7.5rem;
        height: 7.5rem;
        font-size: 4rem!important;
        }

    .home .video-row01 {
        display: flex;
        padding-left: 0!important;
        margin-right:0!important;
    }

    .home .upcomingclasses01-row ul li h3 a {
        font-size: 1.375rem;
    }

    .woocommerce-message {
        font-size: .85rem;
    }

    .woocommerce-cart table.cart td.product-thumbnail {
        display: block;
    }
    .woocommerce-cart table.cart td.product-name {
        width: 30vw;
    }

    ul.products li.product {
        width:24.25%!important;
    }

    .course-description-card h2 {
        font-size: 1.8rem;
    }

    .jumbotron-fluid.about .about-content{
        font-size: 1.2rem;
    }

    .jumbotron-fluid.about h3{
        font-size: 2.5rem;
        margin: 1rem 0 2rem;
    }

    .twostep01 .twostep01-jumbotron h1{
        font-size: 2.5rem;
        text-align: left;
    }

    .twostep01 .twostep01-jumbotron h5{
        text-align: left;
    }

    .twostep02 .twostep02-jumbotron .twostep02-row-01{
        height: 53vh;
        padding:0;
        text-align:left;
    }

    .twostep01 .twostep01-jumbotron .hl-text h1,
    .twostep02 .twostep02-jumbotron .hl-text h1{
        font-size: 2.6rem;
    }

    .twostep02 .twostep02-jumbotron .twostep02-row-02{
        text-align: left;
        height:25vh;
        padding:0;
    }

    .twostep02 .twostep02-jumbotron .twostep02-row-02 h6 {
        padding:0;
    }

    .twostep02.upcoming .twostep02-jumbotron .twostep02-row-02{
        height: 40vh;
    }

    .twostep02.upcoming .twostep02-jumbotron .twostep02-row-02 h5 {
        padding-top: .75rem;
    }


    .course-cards  .woocommerce ul.products li{
        width: 15rem!important;
    }

    #navigation-buttons {
        height: 16rem;
    }

    #navigation-buttons h2{
        font-size: 2rem;
    }

    .twostep01 .twostep01-jumbotron .row{
        height: auto;
        align-items: flex-start;
        min-height:0;
    }

    .twostep01 .twostep01-jumbotron .row .left-col {
        width: 21em;
        margin:0;
        margin-right: .5rem;
    }

    .twostep01 .twostep01-jumbotron .row .right-col {
        width: 23rem;
        margin:0;
        margin-left: .5rem;
    }
    .twostep01 .twostep01-jumbotron h5{
        font-size: 1.25rem;
    }

    .members-ce .details p{
        display: block;
    }

    .members-ce .details h6{
        text-align: left;
    }

    .members-ce .details .card {
        width: 23rem;
    }

    .members-ce .details .card p{
        font-size: inherit;
    }

    .page-about .card {
        flex-direction: row;
        margin: 0 0 3.5rem;
    }

    .page-about .card-body{
        padding: 0 1.25rem;
    }

    .page-about .card.dnicklus img{
        object-position: 0 20%;
    }

    .page-about .card img{
        height: 16rem;
        object-position: 50% 50%;
    }

    .home .row-upcoming-courses ul li{
        width: 18rem;
    }

    #main-menu ul.dropdown-menu li.nav-item {
        // width: 20vw;
    }

    .about-text .row h1 {
        font-size: 2.5rem;
        line-height: 1.2;
    }

    .about-text .row h5{
        font-size: 1.25rem;
    }

    .about-text .row p{
        line-height: 1.5;
    }

    .header-announce .header-scholarship a{
        font-size: 1.2rem;
    }

    .header-announce .header-scholarship .body{
        text-align: center;
    }

    .header-announce .header-scholarship .logo{
        // display:none;
    }

    .header-announce .header-scholarship .body img{
        display: inline;
        background: white;
    }

    .twostep02 .twostep02-jumbotron.prelicense-day{
        background:url("/wordpress/wp-content/uploads/New-Real-Estate-Agent-01.jpg");background-position: 10% 29%;
        background-color: rgba(42,135,0,.2);
        background-blend-mode: overlay;
    }

    .twostep02 .twostep02-jumbotron.prelicense-eve{
        background:url("/wordpress/wp-content/uploads/New-Real-Estate-Agent-02large.jpg");
        background-position: 51% 29%;
        background-color: rgba(42,135,0,.2);
        background-blend-mode: overlay;
    }

    .twostep02 .twostep02-jumbotron.brokers-eve{
        background:url("/wordpress/wp-content/uploads/New-Real-Estate-Broker-02large.jpg");
        background-position: 51% 29%;
        background-color: rgba(42,135,0,.2);
        background-blend-mode: overlay;
    }

    .twostep01 .twostep01-jumbotron.upcoming-ce-bydate{
        background:url("/wordpress/wp-content/uploads/Continuing-Ed-02large.jpg");
        background-position: 18% 0%;
        background-color: rgba(42,135,0,.2);
        background-blend-mode: overlay;
    }

    .twostep01 .twostep01-jumbotron.online-ce{
        background:url("/wordpress/wp-content/uploads/Continuing-Ed-Online-01flarge.jpg");
        background-position: 75% 0%;
        background-color: rgba(422,135,0,.2);
        background-blend-mode: overlay;
        box-shadow:inset 0 0 0 150vw rgba(0,0,0,0.1);
    }

    #testimonial-carousel .carousel-caption{
        bottom: auto;
        left: 33vw;
        width: 33vw;
        top: 44%;
        padding: 2rem;
    }

    #testimonial-carousel .carousel-item {
        height: 75vh;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .35rem!important;
        padding-left: .35rem!important;
    }

    .twostep02-descriptions .row.ethics .card-body:first-of-type {
        height: 21rem;
    }

    .twostep02-descriptions .row.hondros #course-description-painless .card-body:first-of-type {
        height: 42.5rem;
    }

    .twostep02-descriptions .row.hondros .card-body:first-of-type {
        height: 32.5rem;
    }

    .twostep02-descriptions.members-ce.members-ce-diane-turton .row .card-body{
        height: auto!important;
    }

    .twostep02-descriptions.members-ce .row .card-body:first-of-type {
        height: 30.5rem;
    }

    .twostep02-descriptions .row.core .card-body:first-of-type {
        height: 31rem;
    }

    .twostep02-descriptions .row.elective .card-body:first-of-type {
        height: 32rem;
    }

    .twostep02-descriptions .row.designation .card-body:first-of-type {
        height: 39rem;
    }

    .course-cards h2{
        min-height: 5.75rem;
    }

    #main-menu .navbar-collapse{
        flex-grow: 0;
        margin:0 auto;
    }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
