// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere
//
// Color system
//
$bcc_yellow: #FFEE5D;
$bcc_light_yellow: #fffbad;

$bcc_green: #2a8700;
$bcc_dark_green: #366223;
$bcc_light_green: #BBDFAB;
$bcc_extra_light_green: #fffff6;

$bcc_menu_bg: #777;
$bcc_menu_text: #777;
$bcc_menu_text: white;
$bcc_menu_text_hover: white;
$bcc_menu_text_hover: #777;
$bcc_menu_sub_bg: #ddd;
$bcc_menu_text: #777;
$bcc_menu_underline: #2a8700;

$navbar-dark-color: #2a8700;
$navbar-dark-hover-color: #2a8700;
$font-family-base: "Open Sans";

// main menu colors
#main-menu {
    background-color: $bcc_yellow!important;
    font-family: $font-family-base;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
}

#main-menu .dropdown-toggle:after {
    display: none;
}

#main-menu .dropdown-toggle {
    text-align: center;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $bcc_menu_underline;
    transition: 0.05s;
}

.nav-item:hover::after {
    width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .show > .nav-link {
    color: #fec400;
}

.nav-link {
    padding: 15px 5px;
    transition: 0.2s;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #212529;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: #fec400;
}

#wrapper-announce {
    background-color: $bcc_light_green;
    padding-top: .5rem;

}

#wrapper-announce a {
    margin-bottom: .5rem;
}

#wrapper-announce .btn-primary {
    background-color: #2B8801;
    color:#FFF;
    border-color: #2F3E48;
}

.home .wrapper {
    padding:0;
}

.home .entry-header {
    display:none;
}

.home .headline01-row {
    background-color: $bcc_green;
    color:white;
}

.home .headline01-row h1.sow-headline{
    text-align:center;
    font-family: $font-family-base;
    font-size: 2rem;
    letter-spacing: calc(1rem/16);
    padding: .5rem;

}

.home .panel-grid {
    margin: 0!important;
}

.home .feature01-row {
    background: $bcc_extra_light_green;
}

.home .feature01-row h1.sow-headline {
    color: $bcc_dark_green;
    font-family: $font-family-base;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: calc(1rem/16 * -1);
}

.home .sow-icon-container [class^="sow-icon-"] {
    color: #fffbad!important;
}

.home .sow-icon-container {
    color: $bcc_green!important;
}

.home .feature01-row h5 {
    color: #201529;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 .5rem!important;
}


// $primary:       $blue !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;
