// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere
//
// Color system
//

// #pg-11009-0,
// #pg-11009-1,
// #pg-11009-2,
// #pg-11009-3,
// #pg-11009-4,
// #pg-11009-5,
// #pg-11009-6
// {
//     display: none;
// }

$bcc_yellow: #FFEE5D;
$bcc_light_yellow: #fffbad;

$bcc_green: #2a8700;
$bcc_dark_green: #366223;
$bcc_light_green: #BBDFAB;
$bcc_medium_light_green: #ebf0e8;
$bcc_extra_light_green: #fffff6;

$bcc_lime_green: #84D263;

$bcc_menu_bg: #777;
$bcc_menu_text: #777;
$bcc_menu_text: white;
$bcc_menu_text_hover: white;
$bcc_menu_text_hover: #777;
$bcc_menu_sub_bg: #ddd;
$bcc_menu_text: #777;
$bcc_menu_underline: #2a8700;

$bcc_gray: #ddd;
$bcc_light_gray: #eee;

$navbar-dark-color: #2a8700;
$navbar-dark-hover-color: #2a8700;
$font-family-base: "Open Sans";

$bcc_button_border: #2f3e48;

$bcc_alert_info_anchor-color: rgba(142, 20, 255, 0.75);
$bcc_alert_info_background-color: rgba(142, 20, 255, 0.06);
$bcc_alert_info_border-color: rgba(142, 20, 255, 0.2);
$bcc_alert_icon_color:#3b0c66;
$bcc_alert_info_color: #3e2e4c;

$bcc_alert_dark_background_color: #ecfde4;

// bootstrap overrides
.btn {
    background-color: $bcc_green!important;
    border: 1px solid $bcc_button_border!important;
    box-shadow: 0 0 0 0.2rem rgba(42,135,0,.25)!important;
    color: white!important;
    font-size: 1.25rem!important;
    font-weight: bold!important;
    line-height: 1.5!important;
    min-width: 5rem;
    text-transform: uppercase!important;
    padding: .375rem .75rem!important;
}

.btn:hover {
    background-color: $bcc_yellow!important;
    border: 1px solid $bcc_button_border!important;
    color: $bcc_green!important;
    border-color: #2f3e48!important;


}

// main menu colors
#main-menu {
    background-color: $bcc_yellow!important;
    font-family: $font-family-base;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
}

#main-menu .dropdown-toggle:after {
    display: none;
}

#main-menu .dropdown-toggle {
    text-align: center;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $bcc_menu_underline;
    transition: 0.05s;
}

.nav-item:hover::after {
    width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .show > .nav-link {
    color: #fec400;
}

.nav-link {
    padding: 15px 5px;
    transition: 0.2s;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #212529;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: #fec400;
}

#wrapper-announce {
    background-color: $bcc_light_green;
    padding-top: .5rem;
    padding-bottom: .5rem;
}


.home .wrapper {
    padding:0;
}

.home .entry-header {
    display:none;
}

.home .headline01-row {
    background-color: $bcc_green;
    color:white;
}

.home .headline01-row h1.sow-headline{
    text-align:center;
    font-family: $font-family-base;
    font-size: 2rem;
    letter-spacing: calc(1rem/16);
    padding: .5rem;

}

.home .panel-grid {
    margin: 0!important;
}

.home .feature01-row {
    background: $bcc_extra_light_green;
}

.home .feature01-row h1.sow-headline {
    color: $bcc_dark_green;
    font-family: $font-family-base;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: calc(1rem/16 * -1);
}

.home .sow-icon-container [class^="sow-icon-"] {
    color: #fffbad!important;
}

.home .sow-icon-container {
    color: $bcc_green!important;
}

.home .feature01-row h5 {
    color: #201529;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 .5rem!important;
}

.home .video-row01 .bcc-video {
    text-align: center;
}

.home .video-row01 h3 {
    display: none;
}

.home .video-row01 {
    background-color: $bcc_medium_light_green;
    padding-top:2rem;
    padding-bottom:calc(2rem - 6px)
}

.home .upcomingclasses01-row{
    text-align: center;
}

.home .upcomingclasses01-row h3 {
    color: $bcc_dark_green;
    font-weight: bold;
    font-size: 2.25rem;
    letter-spacing: calc(1rem/16 * -1);
    margin: 1.25rem 0;
}

.home .upcomingclasses01-row ul{
    margin: 1.25rem 0;
    padding:0;
}

.home .upcomingclasses01-row ul li:nth-of-type(odd) {
    background: $bcc_light_gray;
}

.home .upcomingclasses01-row ul li h3 {
    margin: 0;
    padding: .5rem;
    font-size: 1.375rem;
}

.home .upcomingclasses01-row ul li h3 a {
    color: $bcc_green;
    text-decoration: none;
    font-size: 1rem;
}

.home #calendar-row {
    background-color: $bcc_light_yellow;
}

.home #calendar-row a {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
    background: #2B8801;
    border: none;
}

.home #calendar-row .panel-grid-cell:last-of-type {
    flex-basis: 480px;
    width: 61.8034%;
    width: calc(61.8034% - ( 0.38196600790794 * 30px ) );
}

.home #calendar-row  .sow-cta-base {
    padding: 0;
}

.home #flyer-row{
    background-color: $bcc_medium_light_green;
    padding-bottom: 1.5rem;
}

.home #flyer-row h3{
    color: $bcc_dark_green;
    font-weight: bold;
    font-size: 2.25rem;
    letter-spacing: calc(1rem/16 * -1);
    margin: 1.25rem 0;
}

#wrapper-footer {
        background-color: #58535C;
        padding-top: 2rem;
}

#wrapper-footer  .box {
    background-color: white;
    border: 1px solid $bcc_green;
    color: $bcc_lime_green;
    font-size: .9rem;
    font-weight: bold;
    padding: 1rem 4rem;
    text-align: center;
}

#wrapper-footer  ul {
  list-style-type: none;
  padding: 0;
}

#wrapper-footer  #footer-summary {
    color: white;
    font-size: .8rem;
    padding: 1rem 4rem 0;
    text-align: center;
}

#wrapper-footer  #footer-summary ul a {
    color: white;
}

.logo-row {
    margin-right:0!important;
}

#bcc-slider {
    width: 100vw!important;
}

#bcc-slider .slider-logo .slider-logo-overlay{
    margin: 0;
    padding: 0;
    padding-top: calc(180px - 60px);
    padding-left: calc(50vw - 104px);
}

#bcc-slider .slider-logo .slider-logo-overlay img{
    height: auto;
    width: 75%;
}


.feature01-row {
    padding-left: 0!important;
}

.home .video-row01 {
    display: flex;
    padding-left: 0!important;
    margin-right:0!important;
    width: 100vw!important;
}

.single-product .product {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.single-product .product h1{
    display:none
}

.single-product .product .summary {
    max-width: 960px;
    width: auto!important;
    margin-top: 4.75rem;
}

.single-product .product .woocommerce-product-details__short-description {
    background-color: #dad6dd;
        font-size: 1rem;
        line-height: 1.428571429;
        margin: 0 auto;
        padding: 1.5rem 4rem;
        max-width: 700px;
    }

.single-product .product .price{
    color: $bcc_green!important;
    font-size: 4rem!important;
    font-weight: bold;
    line-height: 1.428571429;
    text-align: center;
    margin: 1rem 0 0;
}

.single-product .product .btn-primary {
    font-size: 2rem!important;
    margin:1rem auto 0;
    max-width: 700px;
}

.single-product .product del{
    font-size: 2rem;
}

.woocommerce-message {
    font-size: .75rem;
}

.xoo-wsc-basket .xoo-wsc-items-count{
    background-color: $bcc_green;
    color: white;
}

.xoo-wsc-basket  .xoo-wsc-icon-basket1{
    color: $bcc_green;
}

.xoo-wsc-basket {
    background-color: $bcc_yellow;
    border: 2px solid $bcc_green;
    border-radius: .5rem;
    padding: .375rem .75rem .625rem .5rem;
}

.xoo-wsc-icon-basket1:before {
    font-family: FontAwesome;
    content: "\f07a";
    font-size:2.5rem;
}

.woocommerce-cart table.cart td.product-remove {
    width: 1rem;
}

.woocommerce-cart table.cart td.product-thumbnail {
    width: 30vw;
}

.woocommerce-cart table.cart td.product-name {
    width: auto;
}

.woocommerce-cart table.cart img {
    width: auto;
}

.woocommerce-cart .cart_totals p {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 .5rem 1rem;
    text-align: center;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    width: auto;
}


.woocommerce-checkout .entry-header{
    display: none;
}

.woocommerce-checkout button{
    min-width: 280px;
    margin:0 auto;
}

.woocommerce-checkout form.checkout label {
    text-transform: capitalize;
    font-size: .85rem;
    font-weight: bold;
    margin-right: .4rem;
}

.woocommerce-checkout form.checkout label .optional {
    visibility: hidden;
}

.woocommerce-checkout form.checkout label .required {
    color: $bcc_green;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
    width: 100%;
}

.woocommerce-checkout form label.control-label {
    display: inline-block!important;
}

.woocommerce-checkout form .woocommerce-input-wrapper {
    width: 100%;
}

.woocommerce-checkout form fieldset {
    border:1px solid $bcc_light_green;
}

.woocommerce-checkout form  legend {
    background: $bcc_light_green;
    font-size:1.4rem;
    margin-left: .5rem;
    padding: 0.2rem 0.5rem;
    text-transform: capitalize;
    width:auto;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: white;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box{
    background-color: rgba(223, 221, 222, 0.3);
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
    border-bottom: none;
}

#add_payment_method #payment div.form-row, .woocommerce-cart #payment div.form-row, .woocommerce-checkout #payment div.form-row {
    padding-top: 0;
}

.page .alert-info {
    background-color: $bcc_alert_info_background-color;
    border-color: $bcc_alert_info_border-color;
    font-size: 1.1rem;
    color: $bcc_alert_info_color;
    text-align: center;
}

.page .alert-dark {
    background-color: $bcc_alert_dark_background_color;
}

.page .alert-dark h5{
    text-align: center;
}

.woocommerce-info {
    border-top-color: $bcc_alert_info_border-color;
    color: $bcc_alert_info_color;
}

.woocommerce-info a {
    color: $bcc_alert_info_anchor-color;
}

.woocommerce-info::before {
    color: $bcc_alert_icon_color;
}

#authnet-card-number,
#authnet-card-expiry,
#authnet-card-cvc {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: #495057;
    display: block;
    font-size: 1rem!important;
    height: calc(2.25rem + 2px);
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    width: 100%;
}

#authnet-card-number:focus,
#authnet-card-expiry:focus,
#authnet-card-cvc:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

// ce pages by date shortcode
.bc_ce_classes_by_month p {
    display: inline;
}

#course-descriptions-list br{
    display: none;
}


/*
shop page formattingS
*/

ul.products li.product a h2 {
    font-size: 1.1em!important;
    min-height: 6.4em;
    padding: .5em .5em 0!important;
    text-align: center;
}

ul.products li.product a span.price{
    color: $bcc_green!important;
    font-size: 2em!important;
    font-weight: bold!important;
    text-align: center;
}

ul.products li.product {
    border: 1px solid $bcc_gray;
    // padding: .5em!important;
    margin-right: 1%!important;
    width:100%!important;
    float:left!important;
    // clear:none!important;
}

ul.products li.product .yith-wcdp,
ul.products li.product .add-to-cart-container {
    margin: 0 auto;
    padding: 0 .5em 1em;
}

ul.products li.product form.cart button {
    margin: 0 auto .5em;
}

ul.products  li.product .button {
    margin-top: 0!important;
}

ul.products  li.product del .woocommerce-Price-amount {
    font-size: .6em;
}

ul.products  li.product ins {
    text-decoration: none;
}

ul.products span.cart-buttons,
ul.products .add-to-cart-container,
ul.products .yith-wcdp {
    display:none;
}

.page-link {
    color: $bcc_green!important;
}

.page-item.active .page-link {
    // color: white!important;
    background-color: $bcc_light_yellow!important;
    border-color: $bcc_light_yellow!important;
}

.course-description-card {
    background-color: $bcc_light_yellow!important;
    margin: 1.5rem 0 1rem;
    padding:0!important;
}

.course-description-card .card-body{
    padding: 0;
}

.course-description-card h2 {
    background-color: rgba(0,0,0,0.1);
    padding: .75rem 0;
}

.course-description-card .card-title{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
}

.course-description-card ul {
    list-style: none;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/*
Extra small devices (portrait phones, less than 544px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    #main-menu {
        font-size: 1rem;
    }
    #bcc-slider .slider-logo .slider-logo-overlay{
        margin: 0;
        padding: 0;
        padding-top: calc(150px + 44px);
        padding-left: calc(50vw - 150px);
    }

    #bcc-slider .slider-logo .slider-logo-overlay img{
        height: auto;
        width: auto;
    }

    // .home .headline01-row,
    // .home .headline02-row,
    // .home .feature01-row,
    // .home .video-row01,
    // .home .upcomingclasses01-row,
    // .home #flyer-row
    // {
    //     margin-right: 0!important;
    //     width: 100vw;
    //     padding-left: 0!important;
    // }

    .home .feature01-row p {
        font-size: .85rem;
    }

    .home .feature01-row .sow-features-feature {
        width: 50%!important;
        padding: 0 1.5rem 1.5rem!important;
        margin:0 auto;
    }

    .home .feature01-row .sow-features-list{
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        }

    .home .feature01-row .sow-features-feature .textwidget {
        margin: .5rem 0 3rem!important;
    }

    .home .feature01-row .sow-features-feature .sow-icon-container{
        width: 6rem;
        height: 6rem;
        font-size: 6rem;
        }

    .home .feature01-row .sow-features-feature .sow-icon-container [class^="sow-icon-"]{
        width: 6rem;
        height: 6rem;
        font-size: 3.5rem!important;
        }

    .home .feature01-row .sow-features-feature .textwidget {
        margin: .5rem 0 0!important;
    }

    .home .video-row01 {
        display: flex;
        padding-left: 0!important;
    }

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

    #wrapper-announce a {
        font-size: 1rem;
    }

    .home .feature01-row h5 {
        font-size: 1.5rem;
    }
    .home .feature01-row p {
        font-size: 1rem;
    }

    .home .feature01-row .sow-features-feature {
        width: 25%!important;
    }

    .home .feature01-row .sow-features-feature .sow-icon-container{
        width: 7.5rem;
        height: 7.5rem;
        font-size: 7.5rem;
        }

    .home .feature01-row .sow-features-feature .sow-icon-container [class^="sow-icon-"]{
        width: 7.5rem;
        height: 7.5rem;
        font-size: 4rem!important;
        }

    .home .video-row01 {
        display: flex;
        padding-left: 0!important;
        margin-right:0!important;
    }

    .home .upcomingclasses01-row ul li h3 a {
        font-size: 1.375rem;
    }

    .woocommerce-message {
        font-size: .85rem;
    }

    .woocommerce-cart table.cart td.product-thumbnail {
        display: block;
    }
    .woocommerce-cart table.cart td.product-name {
        width: 30vw;
    }

    ul.products li.product {
        width:24%!important;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
