// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere
//
// Color system
//

// #pg-11009-1,
// #pg-11009-2,
// #pg-11009-3,
// #pg-11009-4,
// #pg-11009-0,
// #pg-11009-5,
// #pg-11009-6
// {
//     display: none;
// }

$bcc_yellow: #FFEE5D;
$bcc_light_yellow: #fffbad;
$bcc_extra_light_yellow: #fffee6;
$bcc_bright_yellow: #fec400;

$bcc_green: #2a8700;
$bcc_dark_green: #366223;
$bcc_light_green: #BBDFAB;
$bcc_medium_light_green: #ebf0e8;
$bcc_extra_light_green: #fffff6;

$bcc_lime_green: #84D263;
$bcc_orange: #FE9328;
$bcc_medium_blue: #614b75;

$bcc_menu_bg: #777;
$bcc_menu_text: #777;
$bcc_menu_text: white;
$bcc_menu_text_hover: white;
$bcc_menu_text_hover: #777;

$bcc_menu_sub_bg: #ddd;
$bcc_menu_text: #777;
$bcc_menu_underline: #2a8700;

$bcc-white: white;
$bcc_very_light_gray: rgba(223, 221, 222, 0.3);
$bcc_gray: #ddd;
$bcc_light_gray: #eee;
$bcc_medium_gray: #58535E;
$bcc_dark_gray_text:#212529;
$bcc_very_dark_gray: rgba(0,0,0,0.1);

$navbar-dark-color: #2a8700;
$navbar-dark-hover-color: #2a8700;
$navbar-light-color: blue;
$navbar-light-hover-color: purple;
$font-family-base: "Open Sans";

$bcc_button_border: #2f3e48;
$bcc_button_shadow-color: rgba(42,135,0,.25);

$bcc_alert_info_anchor-color: rgba(142, 20, 255, 0.75);
$bcc_alert_info_background-color: rgba(142, 20, 255, 0.06);
$bcc_alert_info_border-color: rgba(142, 20, 255, 0.2);
$bcc_alert_icon_color:#3b0c66;
$bcc_alert_info_color: #3e2e4c;


$bcc_alert_dark_background_color: #ecfde4;

$bcc_body_text_color: $bcc_dark_gray_text;
