.course-description-card {
    background-color: $bcc_light_yellow!important;
    margin: 1.5rem 0 1rem;
    padding:0!important;
}

.course-description-card .card-body{
    padding: 0;
}

.course-description-card h2 {
    background-color: rgba(0,0,0,0.1);
    font-size: 1.5rem;
    font-weight: bold;
    padding: .75rem .5rem;
}

.course-description-card .card-title{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    padding: 0 .5rem .25rem;
}

.course-description-card ul {
    line-height: 1.2;
    list-style: none;
    padding: 0 .5rem;
}
