.header-announce {
    // background-color: $bcc_light_green;
    .header-online-ce {
        padding: 0;
        background: $bcc_light_green;
        .btn-sm {
            border-radius: .2rem!important;
            font-size: .875rem!important;
            line-height: 1.5!important;
            margin-bottom: .35rem;
            min-width: 0;
            padding: .25rem .5rem!important;
        }
        h5 {
            font-size: 1rem;
            font-weight: bold;
            padding-top: .25rem;
            text-transform: capitalize;
        }
    }
    .header-scholarship {
        background: $bcc_orange;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: .25rem 0.5em;
        a{
            color: white;
            font-weight: bold;
            text-align: left;
            line-height: 1;
        }
        .body{
            color: white;
            font-weight: bold;
            padding: 0 0 0 .5rem;
            text-align: left;
            text-decoration: none;
            a{
                color:white;
                line-height: 1.2;
            }
            img{
                display: none;
            }
        }
        .logo{
            text-align: right;
            background: white;
            margin-right: 1rem;
            padding: .25rem;
            img{
                background: white;
            }
        }
    }
    .widget {
        padding:0;
    }
}
