.home-card {
    margin: 0 auto;
    padding: 0;
    background: rgba(255,255,255,.75);
    border:none;
}

.home-card .card-title{
    background: $bcc_green;
    color:$bcc-white;
    font-size: 1rem;
    font-weight: bold;
    padding: .75rem;
}

.home-card .card-body.cta{
    color: $bcc_green;
    font-weight: bold;
    padding-bottom: .375rem;

    padding: 0 .5rem .375rem;
}

.home-card .card-subtitle{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 0 1rem 1rem;;
}

.home-card .card-body{
    text-align: center;
    line-height: 1.3;
    font-size: .9rem;
    padding: 0 1rem 0rem;
}

.home-card .btn-group-sm-bcc{
    margin: 0 3rem 1.2rem;
}
