.navbar-toggler {
    font-size: 1.75rem!important;
}
// main menu colors

#main-menu {
    background-color: $bcc_yellow!important;
    font-family: $font-family-base;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;

    .dropdown-toggle {
        text-align: center;

        &:after {
            display: none;
        }
    }

    .navbar-brand {
        padding-left: 0.3125rem;

        img {
            min-width: 61px;
        }
    }

    li.dropdown {
        width: 100%;
    }

    li.menu-about {
        ul {
            width: 14.5rem;
        }
    }

    li.menu-broker {
        ul {
            width: 19rem;
        }
    }

    li.menu-continuing-ed {
        ul {
            width: 22rem;

            .menu-highlight01 {
                text-align: center;
            }
        }
    }

    li.menu-courses {
        ul {
            width: 17rem;
        }
    }

    li.menu-members {
        ul {
            width: 17rem;
        }
    }

    li.menu-useful-links {
        ul.dropdown-menu {
            width: 23rem;
            right: 0;
            left: auto;
        }
    }

    ul.dropdown-menu {
        background: $bcc_light_yellow;
        text-align: left;

        .dropdown-item {
            color: $bcc_green!important;
            font-weight: bold;
            line-height: 1.2;
            white-space: normal;

            &:focus,
            &:hover {
                background-color: $bcc_yellow;
                text-decoration: none;
            }
        }

        li.nav-item {
            // width: 100vw;
        }
    }
}

.nav-item {
    &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $bcc_menu_underline;
        transition: 0.05s;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}

.nav-link {
    padding: 15px 5px;
    transition: 0.2s;
}

.dropdown-item {
    &:active,
    .active {
        color: $bcc_body_text_color;
    }

    &:focus,
    &:hover {
        background: $bcc_bright_yellow;
    }
}

.navbar-dark {
    .navbar-nav {
        .active > .nav-link {
            color: $bcc_medium_blue;
        }
    }
}
