.navbar-expand-md {
    .navbar-nav {
        .nav-link {
            @media (min-width: 768px) {
                padding-right: 0.35rem!important;
                padding-left: 0.35rem!important;
            }
        }
    }
}

.navbar-toggler {
    font-size: 1.5rem!important;

    &:focus {
        outline: none;
    }
}

.navbar-dark .navbar-nav .show > .nav-link {
    color: $bcc_green;
}

#the-logo {
    background-color: $bcc_yellow!important;
    text-align: center;
    z-index: 999;

    a.navbar-brand {
        margin: 0;
    }

    img {
        height: 36px;
        width: auto;
        @media (min-width: 768px) {
            height: 100%;
        }
    }
}

#secondary-menu {
    background-color: $bcc_yellow!important;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0 0.75rem 0 0;
    @media (min-width: 544px) {
        font-size: 0.85rem;
    }

    .navbar-toggler {
        margin-left: calc(100% - 8.33333%);
    }

    .dropdown-toggle {
        text-align: center;

        &:after {
            // display: none;
        }
    }

    li.menu-useful-links {
        @media (min-width: 768px) {
            ul.dropdown-menu {
                width: 18rem;
                right: 0;
                left: auto;
            }
        }
    }

    li.search-menu {
        margin-bottom: 0.5rem;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }
    // ul.dropdown-menu {
    //     background: $bcc_light_yellow;
    //     font-size: 0.9rem;
    //     border: none;
    //     @media (min-width: 768px) {
    //         border: 1px solid $bcc_light_green;
    //     }
    //
    //     .dropdown-item {
    //         color: $bcc_green;
    //
    //         &:focus,
    //         &:hover {
    //             background: $bcc_yellow;
    //             outline: none;
    //         }
    //     }
    // }
    ul.dropdown-menu {
        background: $bcc_light_yellow;
        border: none;
        font-size: 0.9rem;
        text-align: center;
        @media (min-width: 768px) {
            border: 1px solid $bcc_light_green;
            text-align: left;
        }

        .dropdown-item {
            color: $bcc_green!important;
            font-weight: bold;
            line-height: 1.2;
            white-space: normal;

            &:focus,
            &:hover {
                background-color: $bcc_yellow;
                text-decoration: none;
            }
        }
    }
}

#main-menu {
    background-color: $bcc_yellow!important;
    font-family: $font-family-base;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    text-transform: uppercase;
    @media (min-width: 544px) {
        font-size: 1rem;
    }
    @media (min-width: 768px) {
        background-color: transparent!important;
        font-size: 1.125rem;
        height: 47px;
        margin-left: -35px;
        padding: 0.0rem 1rem;

        .navbar-collapse {
            flex-grow: 0;
            margin: 0 auto;
        }
    }

    .dropdown-toggle {
        text-align: center;

        &:after {
            // display: none;
        }
    }

    .navbar-brand {
        padding-left: 0.3125rem;

        img {
            min-width: 61px;
        }
    }

    li.dropdown {
        width: 100%;
    }

    li.menu-about {
        @media (min-width: 768px) {
            ul {
                width: 14.5rem;
            }
        }
    }

    li.menu-broker {
        @media (min-width: 768px) {
            ul {
                width: 19rem;
            }
        }
    }

    li.menu-continuing-ed {
        @media (min-width: 768px) {
            ul {
                width: 22rem;

                .menu-highlight01 {
                    text-align: center;
                }
            }
        }
    }

    li.menu-courses {
        @media (min-width: 768px) {
            ul {
                width: 17rem;
            }
        }
    }

    li.menu-members {
        @media (min-width: 768px) {
            ul {
                width: 17rem;
                right: -60px;
                left: auto;
            }
        }
    }

    li.menu-requirements {
        font-size: 0.75rem;
    }

    ul.dropdown-menu {
        background: $bcc_light_yellow;
        border: none;
        text-align: center;
        @media (min-width: 768px) {
            border: 1px solid $bcc_light_green;
            text-align: left;
        }

        .dropdown-item {
            color: $bcc_green!important;
            font-weight: bold;
            line-height: 1.2;
            white-space: normal;

            &:focus,
            &:hover {
                background-color: $bcc_yellow;
                text-decoration: none;
            }
        }

        li.nav-item {
            // width: 100vw;
        }
    }
}

.nav-item.no-link a {
    background: $bcc_light_green;
    cursor: text;
    padding: 0.25rem 1rem;

    &::after {
        display: none;
    }
}

.nav-item.no-link {
    &::after {
        display: none;
    }
}

.nav-item {
    &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $bcc_menu_underline;
        transition: 0.05s;
    }

    &:hover {
        @media (min-width: 768px) {
            &::after {
                width: 100%;
            }
        }
    }
}

.nav-link {
    padding: 0 5px;
    transition: 0.2s;
}

.dropdown-item {
    &:active,
    .active {
        color: $bcc_body_text_color;
    }

    &:focus,
    &:hover {
        background: $bcc_bright_yellow;
    }
}

.navbar-dark {
    .navbar-nav {
        .active > .nav-link {
            color: $bcc_medium_blue;
        }
    }
}

.nav-inner-wrapper {
    background: #ffee5d;

    nav {
        margin-right: 16.66667%; //offset the logo
        @media (min-width: 768px) {
            margin-right: 0;
        }
    }
}

.loginout-menu {
    order: -1;
    @media (min-width: 768px) {
        order: 700;
    }
    padding-left: 0.25rem;
    padding-right: 0.4rem;
}
