.out-of-state-online-courses {
    justify-content: center!important;
}

.out-of-state-online-courses .btn-group{
    margin-right: .5em;
}

.out-of-state-online-courses .btn-group:last-of-type{
    margin-right: 0;
}

.out-of-state-online-courses .btn-group .btn:first-of-type{
    margin-right: .25em;
}
