.woocommerce-message {
    font-size: .75rem;
}

.woocommerce-cart table.cart td.product-remove {
    width: 1rem;
}

.woocommerce-cart table.cart td.product-thumbnail {
    width: 30vw;
}

.woocommerce-cart table.cart td.product-name {
    width: auto;
}

.woocommerce-cart table.cart img {
    width: auto;
}

.woocommerce-cart .cart_totals p {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 .5rem 1rem;
    text-align: center;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    width: auto;
}


.woocommerce-checkout .entry-header{
    display: none;
}

.woocommerce-checkout button{
    min-width: 280px;
    margin:0 auto;
}

.woocommerce-checkout form.checkout label {
    text-transform: capitalize;
    font-size: .85rem;
    font-weight: bold;
    margin-right: .4rem;
}

.woocommerce-checkout form.checkout label .optional {
    visibility: hidden;
}

.woocommerce-checkout form.checkout label .required {
    color: $bcc_green;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
    width: 100%;
}

.woocommerce-checkout form label.control-label {
    display: inline-block!important;
}

.woocommerce-checkout form .woocommerce-input-wrapper {
    width: 100%;
}

.woocommerce-checkout form fieldset {
    border:1px solid $bcc_light_green;
}

.woocommerce-checkout form  legend {
    background: $bcc_light_green;
    font-size:1.4rem;
    margin-left: .5rem;
    padding: 0.2rem 0.5rem;
    text-transform: capitalize;
    width:auto;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: $bcc-white;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box{
    background-color: rgba(223, 221, 222, 0.3);
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
    border-bottom: none;
}

#add_payment_method #payment div.form-row, .woocommerce-cart #payment div.form-row, .woocommerce-checkout #payment div.form-row {
    padding-top: 0;
}

.woocommerce-info {
    border-top-color: $bcc_alert_info_border-color;
    color: $bcc_alert_info_color;
}

.woocommerce-info a {
    color: $bcc_alert_info_anchor-color;
}

.woocommerce-info::before {
    color: $bcc_alert_icon_color;
}
